DATABASE_URL=YOUR_DATABASE_URL_HERE
TEST_DATABASE_URL=YOUR_TEST_DATABASE_URL_HERE
TOKEN_SECRET_KEY=YOUR_TOKEN_SECRET_KEY_HERE
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
EBAY_CLIENT_ID=YOUR_EBAY_CLIENT_ID_HERE
EBAY_CLIENT_SECRET=YOUR_EBAY_CLIENT_SECRET_HERE